name: utc app ci/cd

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  python_version: 3.11

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v4
        with:
          python-version: ${{env.python_version}}

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          
      - name: Run unit tests
        run: pytest

      - name: Build image
        run: docker build -t cheick-b/my-portfolio2 .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with: 
          role-to-assume: arn:aws:iam::366019841221:role/OIDC-ROLE
          aws-region: us-east-1

      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update

      - name: Upload to S3
        run: |
          aws s3 sync . s3://my-portfolio3/utc-app/ --exclude ".git/*" --exclude ".github/*"